# Core dependencies
numpy
pandas
tqdm
scikit-learn
matplotlib
seaborn

# Hugging Face Transformers & Dataset
torch
torchvision
torchaudio
transformers
datasets
tokenizers

# Multi-GPU & Distributed Training
accelerate
deepspeed

# Hyperparameter Optimization
optuna

# Logging & Monitoring
wandb
tensorboard

# AI Agents & Automation
langchain-community==0.0.29
langchain-experimental==0.0.55
pydantic==2.8.2
pypdf==4.3.1
swarms==6.0.9
swarm-models==0.1.3

# Cloud Storage & Deployment
boto3
google-cloud-storage
fastapi
uvicorn
gunicorn

# Environment Variable Handling
python-dotenv

# API & Web Framework
httpx
requests
